<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ashoka University Mailroom</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/global-styles.css" rel="stylesheet">
    <link href="/assets/css/success-log.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <%-include("partials/navbar.ejs", { activePage: "package-in" })-%>

        <div class="container">
            <div class="package-box">
                <img src="/assets/img/check.png" class="check-icon">
                
                <h3 class="package-title">Package Logged!</h3>

                <div class="package-details">
                <div class="subtext-wrapper header-wrapper">
                    <div class="subtext">No.</div>
                    <div class="subtext">Date</div>
                </div>
                <div class="subtext-wrapper">
                    <div class="package-number"><%= packageDetails.packageNo %></div>
                    <span class="date-display">
                        <%= new Date(packageDetails.timestamp).getDate().toString().padStart(2, '0') %>/<%= (new Date(packageDetails.timestamp).getMonth() + 1).toString() %>
                    </span>
                    
                  </div>
                </div>

                    <!-- Conditionally display SHELF if shelfNo is not blank -->
                <% if (packageDetails.shelfNo) { %>
                    <div class="info-box">
                    SHELF: <span class="shelf-number"><%= packageDetails.shelfNo %></span>
                    </div>
                <% } %>
            
                <!-- Conditionally display Remarks if remarks is not blank -->
                <% if (packageDetails.remarks) { %>
                    <div class="remarks-box">
                    <%= packageDetails.remarks %>
                    </div>
                    <% } %>
                </div>
            </div>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
<!-- Before closing body tag -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>