<div class="container-fluid" style="padding: 0;">
    <div class="header-bar text-white d-flex justify-content-between align-items-center">
        <h1 class="fw-bold m-0">ASHOKA UNIVERSITY MAILROOM</h1>
        <div class="text-end">
            <a href="/package-in/user" 
               class="nav-link <%= activePage === 'package-in' ? 'active' : '' %>"
               style="text-decoration: none; color: white;margin-right: 35px;">
                <h5 style="display: inline-block;  <%= activePage === 'package-in' ? 'font-weight: bold; ' : '' %>">Package In</h5>
            </a>
            <a href="/package-out" 
               class="nav-link <%= activePage === 'package-out' ? 'active' : '' %>"
               style="text-decoration: none; color: white;margin-right: 35px;">
                <h5 style="display: inline-block;  <%= activePage === 'package-out' ? 'font-weight: bold; ' : '' %>">Package Out</h5>
            </a>
            <a href="/backup" 
               class="nav-link <%= activePage === 'backup' ? 'active' : '' %>"
               style="text-decoration: none; color: white;margin-right: 35px;">
                <h5 style="display: inline-block;  <%= activePage === 'backup' ? 'font-weight: bold; ' : '' %>">Backup Logs</h5>
            </a>
        </div>
    </div>
</div>
