<div class="package-card">
  <div class="flex justify-between items-center">
    <div>NO.: <%= packageNo %></div>
    <div><%= timestamp %></div>
    <div><%= deliveryPartner %></div>
    
    <!-- Checkbox with dynamic data attributes -->
    <input type="checkbox" class="package-checkbox"
           value="<%= packageNo %>"
           data-package-id="<%= packageNo %>"
           data-ashoka-id="<%= student.AshokaId %>"
           data-timestamp="<%= timestamp %>">
  </div>
</div>